code/engine/src/main/resources/config/xml-schema/appdef.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.donohoedigital.com"
            xmlns="http://www.donohoedigital.com"
            xmlns:dd="http://www.donohoedigital.com"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="classpath:config/xml-schema/data-elements.xsd"/>

<!-- ********************************** -->
<!-- DEFINES TYPES                      -->
<!-- ********************************** -->

	<xsd:complexType name="paramlist">
    	<xsd:sequence>
	    	<xsd:element name="strvalue" type="string" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element name="boolvalue" type="boolean" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element name="intvalue" type="integer" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element name="dblvalue" type="double" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
		<xsd:attribute name="name" type="basicname" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="param">
		<xsd:attribute name="name" type="basicname" use="required"/>
		<xsd:attribute name="strvalue" type="string" use="optional"/>
		<xsd:attribute name="boolvalue" type="boolean" use="optional"/>
		<xsd:attribute name="intvalue" type="integer" use="optional"/>
		<xsd:attribute name="dblvalue" type="double" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="phase">
    	<xsd:sequence>
	    	<xsd:element name="param" type="param" minOccurs="0" maxOccurs="unbounded"/>
	    	<xsd:element name="paramlist" type="paramlist" minOccurs="0" maxOccurs="unbounded"/>
    	</xsd:sequence>
		<xsd:attribute name="name" type="basicname" use="required"/>
		<xsd:attribute name="class" type="classname" use="optional"/>
		<xsd:attribute name="extends" type="basicname" use="optional"/>
		<xsd:attribute name="cache" type="boolean" use="optional"/>
		<xsd:attribute name="history" type="boolean" use="optional"/>
		<xsd:attribute name="transient" type="boolean" use="optional"/>
		<xsd:attribute name="window" type="basicname" use="optional"/>
	</xsd:complexType>

<!-- ********************************** -->
<!-- OBJECTS DEFINITION (FOR XML DOCS)  -->
<!-- ********************************** -->

    <xsd:element name="APPDEF">
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:element name="startphase" type="basicname" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="phase" type="phase" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>

		<!-- define phase name is a key and must be unique -->
		<xsd:key name="PHASE-KEY">
			<xsd:selector xpath="dd:phase"/>
			<xsd:field xpath="@name"/>
		</xsd:key> 

		<!-- define startphase name must ref valid phase -->
		<xsd:keyref name="START-PHASE-REF" refer="PHASE-KEY">
            <xsd:selector xpath="dd:APPDEF"/>
            <xsd:field xpath="startphase"/>
        </xsd:keyref>

		<!-- define extends name must ref valid phase -->
		<xsd:keyref name="EXTENDS-PHASE-REF" refer="PHASE-KEY">
            <xsd:selector xpath="dd:phase"/>
            <xsd:field xpath="extends"/>
        </xsd:keyref>

    </xsd:element>
</xsd:schema>


