code/common/src/main/resources/config/xml-schema/help.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.donohoedigital.com"
            xmlns="http://www.donohoedigital.com"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="classpath:config/xml-schema/data-elements.xsd"/>

<!-- ********************************** -->
<!-- DEFINES TYPES                      -->
<!-- ********************************** -->

	<xsd:complexType name="help">
		<xsd:attribute name="location" type="filename" use="required"/>
		<xsd:attribute name="name" type="basicname" use="required"/>
		<xsd:attribute name="display" type="string" use="required"/>
		<xsd:attribute name="indent" type="nonNegativeInteger" default="0" use="optional"/>
	</xsd:complexType>

<!-- ********************************** -->
<!-- OBJECTS DEFINITION (FOR XML DOCS)  -->
<!-- ********************************** -->

    <xsd:element name="HELPS">
		<xsd:complexType mixed="true">
			<xsd:sequence>

				<xsd:element name="helpdir" 
						type="filename" minOccurs="1" maxOccurs="1"/>

				<xsd:element name="help" 
						type="help" minOccurs="0" maxOccurs="unbounded"/>

			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
  
</xsd:schema>


