code/common/src/main/resources/config/xml-schema/styles.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.donohoedigital.com"
            xmlns="http://www.donohoedigital.com"
            xmlns:dd="http://www.donohoedigital.com"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="classpath:config/xml-schema/data-elements.xsd"/>

<!-- ********************************** -->
<!-- DEFINES TYPES                      -->
<!-- ********************************** -->

	<xsd:complexType name="font">
		<xsd:attribute name="name" type="basicname" use="required"/>
		<xsd:attribute name="fontname" type="basicname" use="optional"/>
		<xsd:attribute name="pointsize" type="positiveInteger" use="optional"/>
		<xsd:attribute name="bold" type="boolean" use="optional"/>
		<xsd:attribute name="italic" type="boolean" use="optional"/>
		<xsd:attribute name="copy" type="string" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="color">
		<xsd:attribute name="name" type="basicname" use="required"/>
		<xsd:attribute name="r" type="colorint" use="optional"/>
		<xsd:attribute name="g" type="colorint" use="optional"/>
		<xsd:attribute name="b" type="colorint" use="optional"/>
		<xsd:attribute name="a" type="colorint" use="optional"/>
		<xsd:attribute name="copy" type="string" use="optional"/>
		<xsd:attribute name="default" type="boolean" use="optional"/>
	</xsd:complexType>

<!-- ********************************** -->
<!-- OBJECTS DEFINITION (FOR XML DOCS)  -->
<!-- ********************************** -->

    <xsd:element name="STYLES">
		<xsd:complexType mixed="false">
			<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			    <xsd:sequence>
				<xsd:element name="color" type="color" minOccurs="0" maxOccurs="unbounded"/>
			    </xsd:sequence>
			    <xsd:sequence>
				<xsd:element name="font" type="font" minOccurs="0" maxOccurs="unbounded"/>
			    </xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
  
</xsd:schema>


